@import "../../../node_modules/material-colors/dist/colors.scss";
@import "../../../node_modules/material-shadows/material-shadows.scss";

*, :host {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

:host {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: $md-blue-grey-800;
  color: rgba(white, .87);
  padding: 1em;
}

h1 {
  text-transform: uppercase;
}

article {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#left {

  #settings {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      justify-content: space-between;

      .name {
        display: inline-block;
        width: 170px;
        font-weight: bold;
      }

      input[type=range] {
        width: 50%;
      }

      input[type=text] {
        text-transform: uppercase;
        border: none;
        outline: none;
        padding: 0 .3em;
      }

      .current-value {
        display: inline-block;
        text-align: right;
        width: 100px;
      }
    }

    .color {
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;

      ul {
        width: 100%;
        display: flex;
        margin: .5em 0 0 0;
        padding: 0;
        position: relative;

        li {
          width: 100%;
          display: inline-block;
          cursor: pointer;
        }
      }
    }

    .border-shadow {
      display: flex;
      justify-content: space-between;
      width: 100%;

      label > span:last-child {
        width: 40px;
        text-align: right;
      }

      input[type=range] {
        margin: 0 1em;
      }
    }
  }

  textarea {
    border: none;
    background-color: $md-blue-grey-900;
    color: rgba(white, .7);
    resize: none;
    outline: none;
    padding: .5em;
    border-radius: 6px;
    @include z-depth(3);
  }
}

#preview {

  svg {
    width: 100%;
    height: 100%;
  }
}
